.headerLogoImg{
    width: 250px;
    height: 150px;
}
header{
    background-color: rgb(238, 242, 255);
}
a{
    font-size: 1.25rem;
}
.headerContainer{
    height: 8rem;
    margin: auto;
    max-width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.nav-link.active{
    background-color: rgb(16, 16, 177);
}
.nav-link{
    color: rgb(16, 16, 177);
}
.btn-outline-primary{
    min-width: 120px;
    color: rgb(16, 16, 177);
    border-color: rgb(16, 16, 177);
}
.btn-outline-primary:hover{
    color: white;
    background-color: rgb(16, 16, 177);
}