.headerLogoImg{
    width: 250px;
    height: 150px;
}
header{
    background-color: rgb(238, 242, 255);
}
.headerContainer{
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.nav-link.active{
    background-color: rgb(16, 16, 177);
}
.nav-link{
    color: rgb(16, 16, 177);
}