<header>
    <div class="headerContainer">
        <img src="../../assets/imgs/logo.png" alt="Logo" class="headerLogoImg">
        <nav class="nav">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Работодателям</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn-success" href="#">Соискателям</a>
                </li>
              </ul>
        </nav>
    </div>
</header>