<footer>
    <div class="container">
        <div class="appInfo">
            <section class="aboutInfo">
                <h4>О нас</h4>
                <p>Данный сайт является агрегатором вакансий и резюме и создан в качестве проектной работы. Все совпадения с реальными вакансиями или людьми случайны.</p>
            </section>
            <div class="verticalLine"></div>
            <section class="contactInfo">
                <h4>Контакты</h4>
                <p><img class="contactIcon phone" src="../../assets/imgs/telephone.svg" alt="">Телефон: <a href="tel:+375445407245">+375-44-540-72-45</a></p>
                <p><img class="contactIcon mail" src="../../assets/imgs/mail.svg" alt="">Почта: <a href="mailto:tratsevskiyivan@gmail.com">tratsevskiyivan@gmail.com</a></p>
                <div class="contactIcons">
                    <a href="https://github.com/IvanTratsevski" target="_blank" ><img class="contactIcon" src="../../assets/imgs/github.svg" alt=""></a>
                    <a href="https://vk.com/ivtrats" target="_blank" ><img class="contactIcon" src="../../assets/imgs/vk.svg" alt=""></a>
                    <a href="https://t.me/Villrax" target="_blank" ><img class="contactIcon" src="../../assets/imgs/telegram.svg" alt=""></a>
                </div>
                
            </section>
    
        </div>
        <div class="copyright">
            <h6>
                &#169; И. С. Трацевский, 2022
            </h6>
        </div>
    </div>
</footer>