<footer>
    <div class="appInfo">
        <section class="aboutInfo">
            <h4>О нас</h4>
            <p>Данный сайт не является комерческим и создан в качестве проектной работы.</p>
        </section>
        <section class="contactInfo">
            <h4>Контакты</h4>
            <p><i class="bi bi-telephone-fill"></i>Телефон: <a href="tel:+375445407245">+375-44-540-72-45</a></p>
        </section>
    </div>
    <div class="copyright">
        <h6>
            &#169; И. С. Трацевский, 2022
        </h6>
    </div>
</footer>