<div class="welcomePage">
    <div class="container">
        <section class="aboutSection">
            <h2>
                Добро пожаловать :i:
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo harum cupiditate expedita. Vero cum saepe, asperiores quo non id, minima omnis eligendi nobis, dolorum quos. Minima consequuntur, molestias porro pariatur doloremque libero quasi qui suscipit, fugiat voluptatum asperiores fuga earum?
            </p>
        </section>
        <section class="letsStartSection">
            <div class="letstStartHeader">
                <h2>
                    Начнем
                </h2>
                <p>
                    Для того чтобы начать поиск интересующей вас информации просто зарегестрируйтесь, выбрав подходящий профиль.
                </p>
            </div>
            <div class="letstStartRegBtns">
                <div class="card">
                    <img src="../../assets/imgs/employer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Работодатель</h5>
                      <p class="card-text">Если вы ищите работников</p>
                      <a href="#" class="btn btn-primary">Зарегестрироваться</a>
                    </div>
                  </div>
                  <div class="card">
                    <img src="../../assets/imgs/job-seeker.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Соискатель</h5>
                      <p class="card-text">Если вы ищите работу</p>
                      <a href="#" class="btn btn-primary">Зарегестрироваться</a>
                    </div>
                  </div>
            </div>
        </section>
    </div>   
</div>